body {background-color: green; }
h1 {background-color: white;
}
p  {color: yellow; }
p {font-size: large; }
h1 {color: blue; }
h2 {color: brown; }
p {text-align: justify;}

header { background-color: yellow;

}
section { background-color: orange;
  width: 48%;
  margin: 1%;
  padding: 10px;
  border: 3px solid black;
  overflow: auto;


}

aside { background-color: white;
  width: 40%;
float: right;
margin: 1%
padding: 10px;
border: 3px solid black;
overflow: auto;



}

footer {background-color: blue;
  width: 30%;
float:left;

}
